*{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Pkmn';
    color: black;
    font-size: 1rem;
  }
  
  @font-face {
    font-family: 'Pkmn';
    src: url('../fonts/PixeloidSans-JR6qo.ttf') format('truetype');
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        background-image: linear-gradient(to top, white 50%, rgb(250,7,0) 50%), radial-gradient(circle at 50% 50%, rgb(250,7,0), white);
        border: 1.9px solid black;
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.lg');
        margin: 15px;
        position: relative;
        }
        .card::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 2.9px;
        width: 101.1%;
        margin-left: -0.1vw;
        background-color: black;
        z-index: 1;
        }

        .card > img {
            max-width: 200px;
            max-height: 100px;
            z-index: 2;
          }
        
          .boxparent {
            position: absolute;
            height: 7524px;
            pointer-events: none;
            z-index: 3;
          }
          
          .box {
            display: block;
            font-size: 20px;
            border-radius: 2px;
            padding: 8px;
            width: 22em;
            height: 3em;
            line-height: 10px;
            background-color: white;
            border: 1px solid white;
            box-shadow: 0 1px 0 1px black,
            inset 0 1px 0 1px black,
            0 0 0 1px black,
            inset 0 0 0 1px black;
            position: fixed;
            bottom: 20px;
            }
        
          .box > i {
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-top-color: black;
          margin-top: 10.%;
          animation: bounce 0.5s ease-in-out 0 infinite alternate;
          float: right;
        }
        
        /* Input Animation */
        .form-text {
        display: block;
        position: relative;
        text-align: center;
        top: 50%;
        font-size: 20vh;
        margin: 0 auto;
        font-size: 70%;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
        }
        
        .anim-typewriter {
        animation: typewriter 2s steps(44) 0.5s 1 normal both;
        }
        @keyframes typewriter {
        from {
          width: 0em;
        }
        to {
          width: 24em;
        }
        }

        .shiny {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: white;
            background-image: linear-gradient(to top, white 50%, purple 50%), radial-gradient(circle at 50% 50%, purple, white);
            border: 1.9px solid black;
            border-radius: theme('borderRadius.lg');
            padding: theme('spacing.6');
            box-shadow: theme('boxShadow.lg');
            margin: 15px;
            position: relative;
          
            }
            .shiny::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            height: 2.9px;
            width: 101.1%;
            margin-left: -0.1vw;
            background-color: black;
            z-index: 1;
            }
          
            .shiny > img {
              max-width: 200px;
              max-height: 100px;
              z-index: 2;
            }

            .minimize {
                animation: move 1s;
              }
              
              @keyframes move {
                from {
                  transform: scale(1);
                }
                to {
                  transform: scale(0);
                }
              }