<div class="main-container">
  <div class="box"><p class="form-text anim-typewriter">Start your pokemon adventure!</p>
    <i></i>
  </div>
  
<div class="card-container">
  <ul>
    <li #cardElement (click)="onButtonClick(pokemon, cardElement, pokeball)" class="card" *ngFor="let pokemon of pokemonArray" (mouseenter)="handleMouseEnter(pkmnImg)" (mouseleave)="handleMouseLeave(pkmnImg)">
      {{ pokemon.name }}
      <img #pkmnImg src={{pokemon.image}}>
      <img #pokeball style="display: none;" class="pokeball" src="https://www.seekpng.com/png/full/14-144204_pixel-pokeball-png-picture-black-and-white-stock.png">
    </li>
  </ul>
</div>
</div>
