<main class="main-container bg-white">
  <div class="logo-container">
    <img
      #pokemonLogo
      class="pokemon-logo"
      (mouseenter)="handleMouseEnter(pokemonLogo)"
      src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
    />
    <h1 class="logo-text">trainer</h1>
  </div>

  <div class="container shadow">
    <app-login-form (login)="handleLogin()" (name)="inputChange($event, input)"></app-login-form>
    <div class="box">
      <h1 #input class="form-text anim-typewriter">
        Please type your trainer name above!
      </h1>
      <i></i>
    </div>
  </div>
</main>
