@font-face {
  font-family: "Pokemon GB";
  src: url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.eot?")
      format("eot"),
    url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.woff")
      format("woff"),
    url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.ttf")
      format("truetype"),
    url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.svg#PokemonGB")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  background-color: rgb(249, 249, 249);
  border-radius: 2vw;
  align-self: center;
  justify-content: center;
  row-gap: 5vw;
  flex-direction: column;
  height: 30vw;
  max-height: 304px;
  width: 60vw;
  max-width: 610px;
}

.form-text {
  text-align: left;
  align-self: center;
  top: 50%;

  margin: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw;

  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(44) 1s 1 normal both;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Pokemon GB", Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  width: 40vw;
  max-width: 413px;
  height: 6vw;
  max-height: 62px;
  line-height: 16px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 1px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}
.box > i {
  justify-self: flex-end;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 2%;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}

@keyframes bounce {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: 23px;
  }
}
