<div>
  <h1 class="form-text anim-typewriter">
    Please type in you trainer name below
  </h1>
</div>

<form
  class="flex flex-row mt-5"
  #loginForm="ngForm"
  (ngSubmit)="loginSubmit(loginForm)"
>
  <fieldset class="mb-3">
    <input
      type="text"
      ngModel
      #username="ngModel"
      name="username"
      id="username"
      class="border border-slate-300 p-2 rounded"
      placeholder="Gølvert Mjøk"
    />
  </fieldset>
  <button type="submit" class="bg-black p-2 rounded text-white">Login</button>
</form>
