* {
  width: 100%;
}

.form-container {
  width: 100%;
  height: auto;
}

.input-field {
  display: flex;
  width: 100%;

  font-family: pkmn;
  align-self: center;
  font-size: 1.5vw;
  padding: 1vw;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
  border-radius: 2px;
}

::placeholder {
  opacity: 1;
  font-family: pkmn;
}

/* @media only screen and (min-width: 480px) {
  .input-field {
    font-size: 1vw;
  }
}
@media only screen and (min-width: 680px) {
  .input-field {
    font-size: 0.8vw;
  }
} */

.login-button {
  background-color: white;
  border: 0.3vw solid black;
  align-self: center;

  border-radius: 999px;
  padding: 1%;
  margin-left: 1%;
  width: 5vw;
  height: auto;
}

.pokeball {
  height: 100%;
  width: auto;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
