<form
  class="flex flex-row justify-center"
  #loginForm="ngForm"
  (ngSubmit)="loginSubmit(loginForm)"
>
  <fieldset class="flex">
    <input
      type="text"
      ngModel
      #username="ngModel"
      name="username"
      id="username"
      class="input-field"
      placeholder="Ash Ketchum"
    />
  </fieldset>
  <button type="submit" class="login-button rounded">
    <img
      class="pokeball"
      src="https://www.seekpng.com/png/full/14-144204_pixel-pokeball-png-picture-black-and-white-stock.png"
    />
  </button>
</form>
