*{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    color: black;
    text-shadow:20em;
}

@font-face {
    font-family: 'Pkmn';
    src: url('/fonts/PixeloidSans-JR6qo.ttf') format('truetype');
  }

h1{
    font-family: "Pkmn";
    font-size: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
}
